'scopeName': 'source.python.ipython-run'
'name': 'Python (IDE)'
'fileTypes': [
  'ale'
]

'patterns': [
  {
    'name': 'ipythonrun.cell.python'
    'match': '^##.*$'
  }
  {
    'include': 'source.python'
  }
]
