'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'IPython Run'
      'submenu': [
        { 'label': 'Run file', 'command': 'ipython-run:run-file'}
        { 'label': 'Open terminal', 'command': 'ipython-run:open-terminal'}
        { 'label': 'Set working directory', 'command': 'ipython-run:setwd'}
      ]
    ]
  }
]
