'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'IPython Run'
      'submenu': [
        { 'label': 'Run file', 'command': 'ipython-run:run-file'}
        #{ 'label': 'Test', 'command': 'ipython-run:testfun'}
      ]
    ]
  }
]
